.wrapper {
  > .skeletonRow {
    height: 60px;
    // background: #eee;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
    background: linear-gradient(
      90deg,
      rgb(248, 248, 248),
      #ccc,
      rgb(248, 248, 248)
    );
    // background-repeat: no-repeat;
    animation: loading 15s infinite;
    transition: all 0.2s;
  }
}

@keyframes loading {
  from {
    background-position: -50vw;
  }

  to {
    background-position: 500vw;
  }
}
