.itemWrapper {
  display: flex;
  height: 60px;
  border-top: 1px solid #ececec;
  justify-content: space-between;

  > .leftContent {
    display: flex;

    > .thumbnail {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin: 10px 15px 10px 10px;
    }

    > .label {
      font-size: 17px;
      vertical-align: middle;
      line-height: 60px;
      color: #555;
    }
  }

  > .rightContent {
    padding: 10px;

    > .chevronIcon {
      color: #ccc;
    }
  }
}
